In [5]:
import numpy as np
import pandas as pd
import random
import string

* # Series is just a column of data

In [2]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [4]:
index = [alphalist[i] for i in range(10)]
index

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [5]:
serrie1 = pd.Series(data=data1, index = index)
serrie1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [6]:
dico = {k:v for k,v in zip(index,data1)}
dico

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [7]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [8]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df

     A   B   C   D
0   43  98  69  29
1   15  77  42  98
2   81   3  58  45
3   30  49  39  91
4   24   2  49  55
..  ..  ..  ..  ..
95  15  74  49  45
96  48  14  52  38
97  81  41  27  90
98   7  13  54   4
99  70  82  61   7

[100 rows x 4 columns]

In [9]:
df = pd.DataFrame(np.random.randn(5,5) ,index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))
df

          V         W         X         Y         Z
A -1.755107 -0.102395  0.304007 -0.190219  0.844646
B -0.767630 -0.221726  0.215782  0.878104  1.067913
C -1.011532 -0.671309  0.592682  0.902057  0.166777
D  0.956710  0.700298  0.259438  1.153192  1.058509
E -0.981152 -0.383115 -1.813138  0.121407  0.817019

In [28]:
# df = pd.DataFrame(np.random.randn(5,5) ,index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))

df.loc['A']
df[["W","X"]]
df.iloc[1]['X']  #0.215782
df.iloc[3]['Z']# 1.0585085
df.loc["D"][["X","Z"]]

X    0.259438
Z    1.058509
Name: D, dtype: float64

In [11]:
df.loc['B']['V']

-0.7676301864813155

In [12]:
df[df['W']>0]

         V         W         X         Y         Z
D  0.95671  0.700298  0.259438  1.153192  1.058509

In [13]:
df['U'] = df['V'] + df['W']
df

          V         W         X         Y         Z         U
A -1.755107 -0.102395  0.304007 -0.190219  0.844646 -1.857501
B -0.767630 -0.221726  0.215782  0.878104  1.067913 -0.989356
C -1.011532 -0.671309  0.592682  0.902057  0.166777 -1.682841
D  0.956710  0.700298  0.259438  1.153192  1.058509  1.657009
E -0.981152 -0.383115 -1.813138  0.121407  0.817019 -1.364266

In [14]:
df[df['U'] > df['V']]

         V         W         X         Y         Z         U
D  0.95671  0.700298  0.259438  1.153192  1.058509  1.657009

# CONCATINATE

In [32]:
df1 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'], 'B':['B0', 'B1', 'B2', 'B3'], 'C':['C0', 'C1', 'C2', 'C3']}, index = [0,1,2,3])
df1
df2 = pd.DataFrame({''})

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3

In [8]:
left = pd.DataFrame({'key': ["K0", 'K1', 'K2', 'K3'], 'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D':['D0', 'D1', 'D2', 'D3']})

In [9]:
pd.merge(left,right,how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [16]:
df_out = pd.merge(left,right, how = 'outer', on='key')
df_out

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [12]:
left_2 = pd.DataFrame({ 'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2',]})
right_2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'], 'D':['D0', 'D1', 'D2']})
left_2.join(right_2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [15]:
left_3 = pd.DataFrame({ 'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2',]}, index = ['K0,', 'K1', 'K2'])
right_3 = pd.DataFrame({'C': ['C0', 'C1', 'C2'], 'D':['D0', 'D1', 'D2']}, index = ['K0,', 'K2', 'K3'])
left_3.join(right_3)

      A   B    C    D
K0,  A0  B0   C0   D0
K1   A1  B1  NaN  NaN
K2   A2  B2   C1   D1